{% extends 'base.html.twig' %}

{% block title %}Event Details{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">{{ event.nom }}</h1>
            <h2 class="text-muted">{{ event.date ? event.date|date('l, F jS Y') : '' }}</h2>
            <p class="card-text">{{ event.description }}</p>
            
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Restriction d'age : </strong>{{ event.ageRestrict ? event.ageRestrict ~ ' years' : 'None' }}</p>
                    <p><strong>Status: </strong>{{ event.annule ? 'Cancelled' : 'Scheduled' }}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Message : </strong>{{ event.message }}</p>
                </div>
            </div>

            <div class="mt-4">
                <a href="{{ path('app_event_index') }}" class="btn btn-primary">Retourner aux évènements</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_event_edit', {'id': event.id}) }}" class="btn btn-secondary">Modifier</a>
                    {{ include('event/_delete_form.html.twig') }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
